.navbar{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    background-color: aqua;


    &-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    &-right{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}